beautifulsoup4==4.9.3
Flask==2.1.2
googlesearch-python==1.1.0
html2text==2020.1.16
Markdown==3.3.7
pymongo==4.1.1
requests==2.25.1
selenium==4.3.0
urllib3==1.26.10
validators==0.20.0
python-dotenv~=0.20.0
Pillow==9.3.0
